.container {
  margin: 0 auto;
  width: 1240px;
  border: 2px solid gray;
  height: auto;
  min-height: 750px;
  display: flex;
  background: #EFEFF2;
}

.welcome {
  min-width: 60%;
  border-right: 6px solid gray;
  background: #7F8CF0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 75px;
}

.auth-form-wrapper {
  min-width: 40%;
  background: #666666;
}

.auth-form {
  padding-top: 320px;
  padding-left: 40px;
}

.form {
  width: 420px;
}

.enter{
  display: flex;
  justify-content: space-between;
}
