.container {
  margin: 0 auto;
  width: 1240px;
  border: 2px solid gray;
  height: 700px;
  display: flex;
}

.search_space {
  min-width: 60%;
  border-right: 6px solid gray;
  background: #79A5F2;
}

.my_profile {
  min-width: 40%;
  background: #666666;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
}

.my_profile_avatar {
  text-align: center;
  border-radius: 50%;
  background: #9B689B;
  width: 150px;
  height: 150px;
}

.my_profile_avatar span {
  line-height: 10em;
  font-size: 15px;
}

.my_profile p {
  border: 3px solid cadetblue;
  color: #E5DFD3;
}
