<div class="container">
  <div class="test-div" *ngFor="let artist of artists">
    <div class="profile_avatar"><img src="{{artist.image}}" alt=""></div>
    <p>{{artist.name}}<br>
      <br>
      Послушать
    </p>
    <p><a href="{{artist.spotifyLink}}" target="_blank">Me on Spotify <img src="https://img.icons8.com/fluent/15/000000/spotify.png"/></a></p>
   <p>Followers: {{artist.follower}} <tui-svg class="icon" src="tuiIconHeartLarge"></tui-svg></p>
  </div>

  <button
  tuiButton
  type="button"
  class="tui-space_right-3 tui-space_bottom-3"
  appearance="secondary"
  (click)="getAllArtists()">
    GetAllArtists
  </button>
</div>
