<div class="selector-2">
    <tui-input
      [(ngModel)]="search">
      Введите имя артиста или название группы
    </tui-input>
</div>


<!--*ngIf="!loading; else loadingBlock"-->
<div  class="container">
  <div class="test-div" *ngFor="let artist of artists | filter:search">
    <div class="profile_avatar"><img src="{{artist.image}}" alt=""></div>
    <p>{{artist.name}}<br>
      <br>
      Послушать <tui-svg (click)="playSong(artist.tracksArr)" class="icon-dis" src="tuiIconPlayLarge"></tui-svg>
    </p>
    <p><a href="{{artist.spotifyLink}}" target="_blank">Я на Spotify <img src="https://img.icons8.com/fluent/15/000000/spotify.png"/></a></p>
   <p class="followers">Подписчики: {{artist.follower}} <tui-svg  (click)="like(artist)" class="icon" [class.icon-dis]="artist.like" src="tuiIconHeartLarge"></tui-svg></p>
  </div>

</div>
