<div class="container">
  <div class="test-div" *ngFor="let artist of artists">
    <div class="profile_avatar"><img src="{{artist.image}}" alt=""></div>
    <p>{{artist.name}}<br>
      <br>
      Послушать
    </p>
    <p>Me on Spotify: {{artist.link}}</p>
    <p>Followers: {{artist.follower}}</p>
  </div>
<!--  <div class="test-div">-->
<!--    <div class="profile_avatar">Test</div>-->
<!--    <p>Name: </p>-->
<!--    <p>Me on Spotify: </p>-->
<!--    <p>Followers: </p>-->
<!--  </div>-->
<!--  <div class="test-div">-->
<!--    <div class="profile_avatar">Test</div>-->
<!--    <p>Name: </p>-->
<!--    <p>Me on Spotify: </p>-->
<!--    <p>Followers: </p>-->
<!--  </div>-->
<!--  <div class="test-div">-->
<!--    <div class="profile_avatar">Test</div>-->
<!--    <p>Name: </p>-->
<!--    <p>Me on Spotify: </p>-->
<!--    <p>Followers: </p>-->
<!--  </div>-->
</div>
